body {
    background-image: url(https://media.istockphoto.com/vectors/anchor-seamless-pattern-vector-boat-pirate-helm-nautical-maritime-vector-id993160100);
    scroll-behavior: smooth;
}

.title {
    background-color: #8ad6cc;
    height: 105px;
    margin-left: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Courgette', cursive;
    text-align: center;
    font-size: xx-large;
    color: black;
}

.question {
    background-color: #F97171;
    height: 100px;
    margin-left: 280px;
    margin-bottom: 10px;
    text-align: center;
    font-size: large;
}

.q1 {
    background-color: #385A7C;
    margin: 2px;
    color: white;
    height: 80px;
    margin-left: 325px;
}

.q2 {
    background-color: #385A7C;
    margin: 2px;
    color: white;
    height: 80px;
}

.q3{
    background-color: #385A7C;
    margin: 2px;
    color: white;
    height: 80px;
    margin-left: 325px;
}

.q4 {
    background-color: #385A7C;
    margin: 2px;
    height: 80px;
    color: white;
}

.timer {
    background-color: #8ad6cc;
    margin: 2px;
    margin-left: 400px;
    margin-top: 8px;
    height: 60px;
    text-align: center;
    font-weight: bold;
}

.wins {
    background-color: #F97171;
    margin: 2px;
    margin-top: 8px;
    text-align: center;
    font-weight: bold;
}

.losses {
    background-color: #8ad6cc;
    margin: 2px;
    margin-top: 8px;
    text-align: center;
    font-weight: bold;
}

.start {
    border: black 2px solid;
    border-width: 6px;
    background-color: #fffefd;
    margin: 2px;
    text-align: center;
    font-weight: bold;
    margin-left: 500px;
    height: 39px;
    margin-top: 15px;
}

.done {
    border: black 2px solid;
    border-width: 6px;
    background-color: #fffefd;
    margin: 2px;
    text-align: center;
    font-weight: bold;
    height: 39px;
    margin-top: 15px;
}

footer {
    background-image: url(https://media.giphy.com/media/AchfIoUtHr5E4/giphy.gif);
    height: 305px;
    position: fixed;
    left: 2px;
    bottom: 0;
    width: 20%;
}

